<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
        <link rel="shortcut icon" href="/static/images/favicon.star.png"/>       
		<meta name="description" content="Event Map">
        <link href="/atom/all/" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
        <link href="/rss/all/" type="application/rss+xml" rel="alternate" title="Sitewide rss Feed">
		<link href="/static/components/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/static/components/jqueryUI/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet">    
        <link href="/static/components/leaflet/dist/leaflet.css"  rel="stylesheet"/>
        {% if DEBUG %}
        <script type="text/javascript" data-main="{{STATIC_URL}}src/js/main" src="{{STATIC_URL}}components/require/require.js"></script>
        <link href="{{STATIC_URL}}src/css/main.css" rel="stylesheet">
        {% else %}
        <script type="text/javascript" src="{{BUILT_URL}}js/main.js"></script>
        <link href="{{BUILT_URL}}css/main.css" rel="stylesheet">
        {% endif %}
	</head>
	<body>
		<div class="row-fluid">
		  <div id="nav" class="span1 setheight">
            <nav id="mainNav" class="h100">
                <ul id="mainNavList" class="nav">
                </ul>
                <a href="#" id="site_title" class="rot-neg-90 bottom"><span id="vert_title">{{ verbiage.title }}</span></a>
            </nav>
		  </div>
		  <div class="span9">
            <h1 id="loading">Loading...</h1>
            <noscript>You need to enable javascript to view this site</noscript>
		    <div class="row-fluid" id="main">
		      <div id="map" class="span3 setheight"></div>
		    </div>
		  </div>
		</div>
		<script type="text/javascript">
            var init_events = {{events|safe|escape}},
            init_user = {{session|safe|escape}},
            server_time_tz = "{{serverTimeTz}}",
            intro_text = "{{verbiage.description}}",
            init_group = {{group|safe|escape}};
		</script>
		<div class="hide" id="svg">
		<?xml version="1.0" encoding="UTF-8" standalone="no"?>
		<svg
		   xmlns:dc="http://purl.org/dc/elements/1.1/"
		   xmlns:cc="http://creativecommons.org/ns#"
		   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		   xmlns:svg="http://www.w3.org/2000/svg"
		   xmlns="http://www.w3.org/2000/svg"
		   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		   height="30"
		   width="25"
		   id="svg4238"
		   version="1.1"
		   inkscape:version="0.48.3.1 r9886"
		   sodipodi:docname="maker.svg">

		  <metadata
		     id="metadata4243">
		    <rdf:RDF>
		      <cc:Work
			 rdf:about="">
			<dc:format>image/svg+xml</dc:format>
			<dc:type
			   rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
			<dc:title />
		      </cc:Work>
		    </rdf:RDF>
		  </metadata>
			<g
			    class="layer1"
			    style="fill:#c8b7b7;display:inline;"
			    >
			  <path
			     transform="scale(1.2)"
			     class="svgForeground"
			     d="m 16.325825,11.12277 c 0,3.5 -5,9.5 -6.5,11.5 -1.5,-2 -6.5,-8 -6.5,-11.5 0,-3.5 3.27126,-6.5 6.5,-6.5 3.22874,0 6.5,3 6.5,6.5 z"
			     style="color:#000000;fill:#c8b7b7;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2;stroke-opacity:0.7;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
			    <g class="circleMarker"
				style="display: none;" 
				transform="matrix(1.4084361,0,0,1.4084361,-2.03608,-2.8184129)">
				<circle 
				    cx="9.8041811" 
				    cy="11.591675" r="2.9"
				    fill="white";  
				    style="fill-opacity:.8;" />
			    </g>
			</g>
		</svg>

		  </div>
        <section>
            <div  class="modal hide fade" id="loginhtml">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 >Log In Or <a id="signUp">Sign Up</a></h3>
                  </div>
                <div class="modal-body">
                    <div  id="loginError" class="alert alert-error hide"></div>
                    <form id="loginForm" method="post">
                        <div class="row-fluid">
                            <div class ="span5">
                                <input  placeholder="Username" id="id_username" type="text" name="username" maxlength="30">
                            </div>
                            <div class ="span5">
                                <input placeholder="Password" type="password" name="password" id="id_password">
                            </div>
                        </div>

                            <div class="row-fluid">
                                <div class="span10 ">
                                    <input class="btn btn-primary inline" id="loginButton" type="submit" value="Login" />
                                    <label class="checkbox inline">
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </section>
    <section>
        <div  class="modal hide fade" id="signup_html">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 >Sign Up</h3>
            </div>
            <div class="model-body">

                <div  id="signupError" class="alert alert-error hide"> </div>

                <form id="SignUpForm" class="form-horizontal" method="post">
                    <br>
                    <div class="control-group">
                        <label class="control-label" for="id_username">Username</label>
                        <div class="controls">
                            <input id="id_username" type="text" name="username" maxlength="30">
                            <span id="signup_username_error" class="label label-important hide"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"  for="id_email">Email</label>
                        <div class="controls">
                            <input id="id_email" type="text" name="email" maxlength="30">
                            <span id="signup_email_error" class="label label-important hide"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"  for="id_password">Password</label>
                        <div class="controls">
                            <input type="password" name="password" id="id_password">
                            <span id="signup_password_error" class="label label-important hide"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"  for="id_password_again">Retype Password</label>
                        <div class="controls">
                            <input type="password" name="password_again" id="id_password_again">
                            <span id="signup_password_again_error" class="label label-important hide"></span>
                        </div>
                    </div>
                    <div id="loginStatus"  class="form-actions">
                        <input class="btn btn-primary" id="signUpButton" type="submit" value="Sign Up" />
                    </div>
                </form>
            </div>
        </div>
        </section>
	</body>
</html>
